# *********************************************************************************************************************
#  Created By: Ing. Antonio Alberto Di Santo.-
#  Created On: Lunes 06 de Octubre del 2025.-
#
#     Program       :   Bot de WhatsApp con Google Sheets,
#                          para Asignación de Turnos en Rouss Coiffeur's de MEMORY   Ingeniería en Sistemas.-
#
#    "File Purpose:     Archivo de Variables de Entorno y Configuración del Sistema.-
#                       Contiene las Credenciales de WhatsApp Cloud API ( Token de Acceso, ID del Número ),
#                       Token de Verificación del Webhook, Número de Teléfono Personal Autorizado,
#                       ID de la Hoja de Cálculo de Google Sheets, y Configuración del Servidor Flask
#                       ( Puerto y Entorno de Ejecución ).-
#
#
# *********************************************************************************************************************

# .env.example ( Nó Subir a GitHub, Valores Reales...).-
WHATSAPP_ACCESS_TOKEN=
WHATSAPP_PHONE_NUMBER_ID=
WEBHOOK_VERIFY_TOKEN=
SPREADSHEET_ID=
GOOGLE_CREDENTIALS_PATH=/app/sheets/credentials.json
FLASK_ENV=production
